/* Import de la police Inter via Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Reset de base */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 80%;
}

body {
  font-family: Arial;
  background-color: bisque;
  background: url("image.po.jpg"); /* center/cover no-repeat; */
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  /* background-color: bisque; */
  height: auto;
  width: 100%;
  margin-bottom: 120px;
  position: fixed;
}
.menu {
  display: flex;
  background: rgba(255, 255, 255, 0.471);
  border-radius: 12px;
  padding: 10px;
}

main {
  flex: 4 0 auto;
  width: 45%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: large;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

/* fonctionnalité du changement de la langue en/fr */
[data-lang] {
  display: none;
}

[data-lang].active {
  display: inline;
}

/* position de mes boutons langue */
.language-switch {
  position: fixed;
  top: 12px;
  right: 12px;
  display: flex;
  gap: 8px;
  background: rgba(255, 255, 255, 0.471);
  padding: 6px;
  border-radius: 12px;
}

.language-switch button {
  padding: 6px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #111827;
  color: white;
}

/* Couleur de mon focus click */
.language-switch button.active {
  background: #ebde25;
}
