/* Import de la police Inter via Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Reset de base */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 80%;
}

body {
  font-family: Arial;

  background: linear-gradient(
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0.35)
    ),
    url("image.po.jpg") center/cover no-repeat;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  background-color: bisque;
  height: auto;
  width: 100%;
  margin-bottom: 120px;
}

main {
  flex: 4 0 auto;
  width: 45%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-size: large;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

[data-lang] {
  display: none;
}

[data-lang].active {
  display: inline;
}
